
<%-include('../Includes/header.ejs')%>
    <link rel="stylesheet" href="/CSS/style.css">
    </head>

    <body>
        <%-include('../Includes/navigation.ejs')%>

            <div class="header">
            <div class="row">
                <div class="col-2">
                    <h1>Give Yourself a New Style!</h1>
                    <p>Style is a way to say who you are without having to speak...</p>
                    <a href="/userAllProducts" class="btn">Explore Now</a>
                </div>
                <div class="col-2">
                    <img src="/Uploaded_images/nn.png" alt="">
                </div>

            </div>
            </div>

    <!-- featured categories -->

    <div class="categories">
        <div class="small-container">
            <h2 class="title">Shop & Save</h2>
            <div class="row">
                <div class="col-3">
                    <img src="/Uploaded_images/767e3c6f199d69f358a6902f10437b0a.jpg">
                    <h4>T-Shirts</h4>
                    <p>Min 60% Off</p>
                </div>
                <div class="col-3">
                    <img src="/Uploaded_images/8d78a291ef202de69456de7742cdeaf3.jpg">
                    <h4>Bucket hats</h4>
                    <p>Under ₹149</p>
                </div>
                <div class="col-3">
                    <img src="/Uploaded_images/a4a76518c48382d63826abbf4597c186.jpg">
                    <h4>Women's Sandals</h4>
                    <p>4 stars and Above</p>
                </div>
            </div>
        </div>

        </div>

          <!-- latest products -->
       
          <div class="small-container">
           <h2 class="title">Latest Products</h2>
           <div class="row">
               
               <div class="col-4">
                <img src="/Uploaded_images/SHEIN Square Neck Gigot Sleeve Frill Detail Flare Dress.jfif" >
                <h4> Flare Dress</h4>
                <div class="rating">
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>₹ 999</p>
            </div>

            <div class="col-4">
                <img src="/Uploaded_images/Tinted Lens Fashion Glasses.jfif" >
                <h4>Tinted Lens Fashion Glasses</h4>
                <div class="rating">
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star"></i> 
                 <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>₹ 599</p>
            </div>

            <div class="col-4">
                <img src="/Uploaded_images/High Waisted Flap Pocket Cargo Jeans.png" >
                <h4>High Waisted Jeans</h4>
                <div class="rating">
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>₹ 899</p>
            </div>

            <div class="col-4">
                <img src="/Uploaded_images/Mini Double Handle Square Bag.jfif" >
                <h4>Mini Square Bag</h4>
                <div class="rating">
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star"></i> 
                 <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>₹ 399</p>
            </div>

            
           </div>

          </div>

          <!-- offer -->
          <div class="offer">
            <div class="row">
                <div class="col-2">
                    <p>Exclusively Available on OneStore24</p>
                    <h1>Smart Band 4</h1>
                    <p class="band_desc">The Smart Band 4 features a 39.9% larger AMOLED color full-touch display
                         with adjustable brigthness,so everything is clear as can be.
                    </p>
                    <a href="#" class="btn">Buy Now &#8594;</a>

                </div>
                <div class="col-2">
                    <img src="/Uploaded_images/Clover_Sport_Band-removebg-preview.png" class="offer-img">
                </div>

            </div>
            </div>








<%-include('../Includes/footer.ejs')%>
